body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 700;
    color: black;
    background-color: #849d8f;
    text-decoration: none;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}
.site-wrapper {
    min-width: 1200px;
    min-height: 100vh;
    padding-left: 30px;
    background-color: #849d8f;
    background-image: url("../img/slider1.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
    background-image: url("slide-2.png");
  }
  
  .site-wrapper::after {
    background-image: url("slide-3.png");
  }

.container {
    max-width: 100%;
    margin:0;
    padding: 0px;
}
.slider{
    position: relative;

  padding-top: 270px;
  margin-bottom: 42px;
  text-align: center;
  color: #ffffff;
}
.slides-switches {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.slide{
    display: none;
}
.button {
    display:inline-block;
    padding: 12px 44px;
    font-weight: 600px;
    font-size: 31px;
    line-height: 41px;
    vertical-align: top;
    color:#fff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 2px rgba(160, 32, 11,0.76);
    background: #f26843;
    background: linear-gradient(to botton, #f26843 0%, #e74a35 100%);
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}
.button:hover{ 
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active{
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls{
    position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label{
    display:inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display:block;
}
#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider1.png");
}
#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/Подсветка.png");
}
#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/Подсветка 3.png");
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
   background-color: #fff
}
.slide-title {
    width: 700px;
    margin: 0 auto 29px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    }
    .main-navigation {
        font-size: 16px;
        color: #060871
    }
.site-navigation,
.available,
.main-user-navigation {
    list-style: none;
}
.site-navigation a,
.main-user-navigation a {
color:rgb(250, 250, 250);
}
.slide-btn {
    list-style: none;
}
.button :hover,
.button :focus,
.button :active {
    background-color: grey; 
}
.header {
    margin-bottom: 425px;
    display: block;
    max-width: 100%;
}
.main-navigation-wrapper .container {
    width: auto;
    margin-bottom: 420px;
    display: flex;
    justify-content: space-between;
}
.header-container {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.main-navigation{
    display: flex;
  flex-direction: row;
  justify-content: flex-start; 
}
.site-navigation {
    max-width: 100%;
    margin: 0;
    padding: 25px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.list {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    margin: 0 5px;
}
.main-user-navigation {
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 265px;
  margin: 0;
  padding: 0;
}
.main-user-navigation a:hover,
.main-user-navigation a:focus { background-color: #d7e3e5;
    border-radius: 30px;

}
.user {
    width: auto;
    margin: 23px;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.login-link {
    position: relative;
    padding: 8px 16px 8px 44px;
    margin-left: 12px;
    margin-bottom: 10px;
    line-height: 16px;
    background-color: rgba(255,255,255,.2);
    border-radius: 50px;
}
.content{
    display: block;
}
.container_index {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
    display: block;
}
.login-link::before {
    display: block;
    content: "";
    position: absolute;
    left: 16px;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg/entrance.svg");
    background-repeat: no-repeat;
    background-position: 0;
}
.search-loupe {
    position: relative;
    padding: 12px 10px 5px 10px;
    margin-left: 12px;
    margin-bottom: 10px;
    line-height: 16px;
    background-color: rgba(255,255,255,.2);
    border-radius: 50px;
}
.card-basket {
    position: relative;
    padding: 12px 25px 5px 25px;
    margin-left: 12px;
    margin-bottom: 10px;
    line-height: 16px;
    background-color: rgba(255,255,255,.2);
    border-radius: 50px;
    width: auto;
    height: auto;
}
.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    margin: 10px; 
    color:rgb(251, 247, 247);
}
.hours {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 400;
    line-height: 16px;
    font-size: 14px;
    margin-bottom: -3px;
}
.phone-number {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 600;
    line-height: 24px;
    font-size: 22px;
}
h1 {
    margin-left: 400px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    position: relative;
} 
.button_main {
    font-size: 32px;
    font-weight: 700;
    height: 65px;
    width: 285px;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    color:#f4f4f4;
    background-color: rgb(172, 73, 28);
}

.offers{
    color: #fff;
    width: auto;
    list-style: none;
    
}
.offers-list {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.offers_item-rastberry {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 20px 20px;
    margin: 0;
}
.offers_item-choco {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 20px 20px;
    margin: 0;
}

.img {
    background: url("../img/raspberry-bg.jpg");
    margin: 25px 30px 25px 25px;
    margin-right: 30px;
    width: 560px;
    height: 230px;
    border-radius: 20px;
}
.img-choco {
    background: url("../img/chocolate-bg.jpg");
    margin-top: 25px;
    width: 560px;
    height: 230px;
    border-radius: 20px;
}
.rastberry .chocolate{
    font-family: "Roboto","Arial",sans-serif;
    font-size: 400px;
    line-height: 41px;
    font-size: 35px;  
}
.paragraph {
    line-height: 22px;
    font-size: 18px; 
    margin-top: 0;
    margin-bottom: 43px;
}
.button {
    display: inline-block;
    padding: 22px 44px;
    font-size: 32px;
    font-weight: 200px;
    width: 275px;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    color:#f4f4f4;
    background-color: rgb(172, 73, 28);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    }
.button-offer {
    align-self: flex-end;
    vertical-align: middle;
    padding: 14px 22px 0px 22px;
    font-size: 18px;
    font-weight: 100px;
    height: 40px;
    width: 165px;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    color:#f4f4f4;
    background-color: rgb(172, 73, 28);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.hit {
    width: auto;
    }
.variety {
    display: flex;
    padding: 0;
    list-style: none;
}
.catalog_item {
    color: #ffff;
    line-height: 22px;
    font-size: 16px;
    margin: 0;
}
.price-main {
    font-size: 37px;
    height: 40px;
    color: #fff;
    position: absolute;
    top: 250px;
    left: 0;
}
.price{
    padding: 0;
    margin-right: 30px;
    font-size: 45px;
}
.price::after {
    display: block;
    position: absolute;
    top: 0px;
    left: 82px;
    right: 4px;
    width: 26px;
    height: 31px;
    content: "";
    background-image: url("../img/ruble.png");
    background-repeat: no-repeat;
}

.hits {
    position: relative;
    word-wrap: normal;
    padding: 25px 25px 25px 0px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
}  
.hits::before{ 
    display: block;
    position: absolute;
    top: 32px;
    left: 0px;
    right: 150px;
    width: 60px;
    height: 60px;
    content: "";
    background-image: url("../img/ХИТ.png");
    background-repeat: no-repeat;
} 
.catalog_image {
    padding: 25px;
}
.main-information {
    width: 1145px;
    height: 315px;
    margin-bottom: 40px;
    background-image: url("../img/Вафля фон.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    margin: 40px 30px 40px 0px ;
}
.features-description {
    line-height: 30px;
    font-family: "Roboto","Arial",sans-serif;
    width: 1115px;
    font-size: 24px;
    padding: 30px 112px 5px 20px;
    margin: 0;
}
.features-list { 
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin: 0;
    padding-left: 70px;
    padding-right: 33px;
}
.feature-item {
    position: relative;
    width: 480px;
    
    display: list-item;
}
.feature-text {
    position: relative;
    margin: 21px 0 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #323232;
}
.feature-text1::before {
    display: block;
    position: absolute;
    top: 10px;
    left: -57px;
    right: 10px;
    width: 50px;
    height: 50px;
    content: "";
    background-image: url("../img/Мороженко.png");
    background-repeat: no-repeat;
}
.feature-text2::before {
    display: block;
    position: absolute;
    top: 10px;
    left: -57px;
    right: 10px;
    width: 50px;
    height: 50px;
    content: "";
    background-image: url("../img/Корова.png");
    background-repeat: no-repeat;
}
.feature-text3::before {
    display: block;
    position: absolute;
    top: 10px;
    left: -57px;
    right: 10px;
    width: 50px;
    height: 50px;
    content: "";
    background-image: url("../img/Листик.png");
    background-repeat: no-repeat;
}
.feature-text4::before {
    display: block;
    position: absolute;
    top: 10px;
    left: -57px;
    right: 10px;
    width: 50px;
    height: 50px;
    content: "";
    background-image: url("../img/Градусник.png");
    background-repeat: no-repeat;
}
.news_item {
    width: 540px;
    font-size: 16px;
    line-height: 22px;
    margin: 27px 380px 15px 27px;
}
.new {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 0px;
    margin: 0;
}
.ice-recipe {
    list-style: none;
    width: 560px;
    height: 220px;
    margin-bottom: 40px;
    background-image: url("..//img/strawberry-bg.jpg");
    border-radius: 20px;
    margin: 0;
    padding: 0;
}
.recipe {
    font-family: inherit;
    font-size: 24px;
    line-height: 30px;
    width: 290px;
    margin: 15px 263px 25px 22px
}
.mail {
    list-style: none;
    margin: 0px 30px 40px 27px;
    width: 560px;
    height: 220px;
    background-image: url("..//img/svg/bg-post.svg");
    border-radius: 20px;
}
.cover {
    width: 550px;
    height: 210px;
    margin: 5px 5px 5px 5px;
    background-color: #f8f7f4;
    background-size: cover;
    border-radius: 15px;
}
.send-info {
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    color:#4a4949;
    margin: 0;
    width: 510px;
    padding: 40px 25px 40px 25px;
}
.adress {
    padding: 12px;
    margin-right: 12px;
    margin-left: 25px;
    width: 360px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
}
.button-send {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 18px;
    line-height: 24px;
    width: 120px;
    height: 45px;
    display: inline-block;
    font-size: 18px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 30px;
    font: inherit;
    text-align: center;
    color:#f4f4f4;
    background-color: rgb(172, 73, 28);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.map {
    width: 1200px;
    position: relative;
    height: 430px;
    background: url("../img/map.png") no-repeat center;
    margin-bottom: 20px;
}
.map-wrapper {
    width: auto;
}
.recall {
    position: absolute;
    width: 250px;
    height: 240px;
    background-color: #ffff;
    z-index: 1;
    border-radius: 20px;
    top: 60px;
    right: 25px;
    padding: 30px 25px;
    margin: 0;
}
.button-form {
    height: 45px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 30px;
    font: inherit;
    text-align: center;
    color:#f4f4f4;
    background-color: rgb(172, 73, 28);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.main-office, .orders, .hours-delivery {
    margin: 0;
    width: 156px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
}
.orders {
    padding-top: 25px;
    margin: 0;
}
.num {
    margin: 0;
}
.hours-delivery {
    margin-bottom: 25px;
}
.main-footer {
    display: flex; 
}
.wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 18px 0 30px;
}
.footer-social {
    width: 195px;
    margin-right: 200px;
}
.documents {
    width: 135px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 13px;
    line-height: 18px;
}
.documents a,
.documents-right a {
    color: #ffff;
}
.documents-right {
    width: 165px;
    padding: 0;
    margin-right: 230px;
    display: flex;
    height: 30px;
    flex-wrap: wrap;
    list-style: none;
    font-size: 13px;
    line-height: 18px;
}
.info-providers{
    display: block;
    position: relative;
    color: #fff;
}
.info-providers::before {
    display: block;
    position: absolute;
    top: 2px;
    left: -20px;
    right: 10px;
    width: 15px;
    height: 13px;
    content: "";
    background-image: url("../img/Сердце.png");
    background-repeat: no-repeat;
}
.footer-label {
    width: 190px;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    margin: 0;
    color:#fff;
    font-weight: 100;
}
.social-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}
.footer-social ul {
    display: flex;
    list-style: none;
    width: 195px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.social-button:hover,
.social-button:focus {
    background-color: #d7e3e5;
}
.social-button:hover path,
.social-button:focus path {
 fill:rgb(87, 113, 113);
}
