body {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 18px;
        font-family: "Roboto","Arial",sans-serif;
        font-weight: 700;
        color: black;
        background-color: rgb(87, 113, 113);
        text-decoration: none;
    }
    .main-navigation {
        font-size: 16px;
        color: #060871
    }
.site-navigation,
.available,
.main-user-navigation {
    list-style: none;
}
.site-navigation a,
.main-user-navigation a {
color:black;
}
.slide-btn {
    list-style: none;
}
.offers {
    text-align: center;
    list-style: none;
}
.button {
    font: inherit;
    text-align: center;
    color:#fff;
    background-color: rgb(172, 73, 28);
    vertical-align: middle;
}
.button :hover,
.button :focus,
.button :active {
    background-color: grey; 
}
.header {
margin-bottom: 425px;
}
.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 420px;
    display: flex;
    justify-content: space-between;
}
.header-container {
    width: 1200px;
    margin: 40px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}
.main-navigation{
    display: flex;
  flex-direction: row;
  justify-content: flex-start; 
}
.site-navigation {
    width: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.list {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    margin: 0 5px;
}
.user-navigation {
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:flex-end;
}
.main-user-navigation {
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.user {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.test {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 20px;
    margin: 0 10px;
}
.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 5px;
    margin: 0 5px; 
}



