body {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 18px;
        font-family: "Roboto","Arial",sans-serif;
        font-weight: 700;
        color: black;
        background-color: rgb(87, 113, 113);
        text-decoration: none;
    }
    .main-navigation {
        font-size: 16px;
        color: #060871
    }
.site-navigation,
.available,
.main-user-navigation {
    list-style: none;
}
.site-navigation a,
.main-user-navigation a {
color:black;
}
.slide-btn {
    list-style: none;
}
.offers {
    text-align: center;
    list-style: none;
}
.button {
    font: inherit;
    text-align: center;
    color:#f4f4f4;
    background-color: rgb(172, 73, 28);
    vertical-align: middle;
}
.button :hover,
.button :focus,
.button :active {
    background-color: grey; 
}
.header {
margin-bottom: 425px;
}
.main-navigation-wrapper .container {
    width: auto;
    margin-bottom: 420px;
    display: flex;
    justify-content: space-between;
}
.header-container {
    width: 1200px;
    margin: 40px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.main-navigation{
    display: flex;
  flex-direction: row;
  justify-content: flex-start; 
}
.site-navigation {
    width: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.list {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    margin: 0 5px;
}
.user-navigation {
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:flex-end;
}
.main-user-navigation {
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.user {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.test {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 20px;
    margin: 0 10px;
}
.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 5px;
    margin: 0 5px; 
}
h1 {
    margin-left: 400px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    position: relative;
} 
.offers{
    padding: 5px;
    margin: 0px;
    color: #fff;
}
.offers-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.offers_item-rastberry {
    padding: 0;
    margin: 0;
    width: 565px;
}
.offers_item-choco {
    width: 565px;
}
.hit {
    width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 30px;
}
.img {
    background: url("../img/raspberry-bg.jpg");
    width: 560px;
    height: 288px;
    border-radius: 20px;
}
.img-choco {
    background: url("../img/chocolate-bg.jpg");
    width: 560px;
    height: 288px;
    border-radius: 20px;
}
.waffle-background {
    background: url("../img/Вафля фон.png");
    height: 310px;
    width: 1145px;
    background-repeat: no-repeat;
    margin: 25px;
    padding: 30px;
}

.main-information {
display: flex;
justify-content: center;
}


